.icondisplay{
    display: flex;
    justify-content: center;
    height: 200px;
    overflow: auto;
  
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    padding: 10px;
}

@media (max-width: 570px) {
    .grid{
        grid-template-columns: repeat(3,1fr);  
    }
  }

.grid> div {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 16px;
    box-shadow:0 3px 5px 0 rgb(0 0 0 / 10%), 0 3px 6px 0 rgb(0 0 0 / 6%);
    border: 2px solid transparent;
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px ; 
}

.grid> div:hover {
    cursor: pointer;
}

.icon{
    height: 36px;
}

.deleteicon,
.editicon{
    cursor: pointer;
    color: white;
}

.deleteicon:hover,
.editicon:hover
{
    cursor: pointer;
    color: #102B49;
}