.categoryIcon{
    display: flex;
    /* border: solid 1px black; */
}

.categoryTab{
    width: 90%;  
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius: 16px;
  
    border: 2px solid transparent;
    font-size: 1.6rem;
    padding: 10px;
    margin: 10px ; 
    height: 75%;
    background: rgb(192, 192, 192);
    cursor: pointer;
  }


  .categoryTab:hover{
      color: black;
  }
  
  
  .categoryList__div{
    height: 30rem;
    overflow: auto;
    display: flex;  
    flex-direction: column;

 
  }